* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn {
  width: 164px;
  height: 44px;
  padding: 12px 16px;
  border: none;
  background-color: #30b868;
  border-radius: 4px;
  color: white;
}
header {
  display: flex;
  flex-direction: column;
}
nav {
  height: 92px;
  max-width: 1600px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 16px 120px;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  width: 365px;
  height: 24;
  gap: 32px;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
#hero {
  background-image: url("./assets/hero-bg.png");
  background-repeat: no-repeat;
  height: 674px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px 120px 134px 120px;
  display: flex;
}
.hero-content {
  display: flex;
  margin: auto;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
  width: 1360px;
  height: 379px;
}
.early-access {
  width: 229px;
  height: 35px;
  background-color: white;
  gap: 6px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
}
.early-access p {
  font-size: 16px;
  color: #30b868;
}
.hero-content h1 {
  color: white;
  text-align: center;
  font-size: 72px;
}
.hero-content h1 span {
  color: #30b868;
}
.hero-content .hero-p {
  color: white;
}

.btn-hero-1 {
  width: 251px;
  height: 52px;
  color: white;
  border-radius: 4px;
  background-color: #30b868;
  border: none;
  margin-right: 16px;
}
.btn-hero-2 {
  width: 198px;
  height: 52px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  color: white;
  background: none;
}
#notes-section {
  height: 448px;
  height: 100%;
  top: 0;
  padding: 0 120px 120px 120px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.notes-head {
  height: 152px;
  width: 1360px;
  text-align: center;
  margin-top: 40px;
}
#notes-section h1 {
  font-size: 48px;
  color: #001931;
  margin: 16px 0;
}
#notes-section p {
  font-size: 15px;
  font-weight: 400;
  color: #627382;
}
.cards {
  width: 1360px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.card {
  width: 322px;
  height: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 16px;
  padding: 24px;
  border-radius: 16px;
}
.card .img-box {
  width: 60px;
  height: 60px;
  background-color: #f95555;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#brain-section {
  width: 1600px;
  height: 840px;
  padding: 120px;
  margin: 0 auto;
  margin-top: -180px;
  background-color: white;
}
.brain-container {
  display: flex;
  align-items: center;
  gap: 60px;
  width: 1360px;
  height: 600px;
}
.brain-img {
  width: 600px;
  height: 600px;
}
.solution {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #30b868;
}
.brain-head {
  font-size: 48px;
  font-weight: 700;
  margin: 16px 0;
}
.brain-solution p {
  font-size: 16px;
  font-weight: 400;
  color: #627382;
  margin-bottom: 40px;
}
.brain-tick {
  display: flex;
  align-items: center;
  gap: 16px;
}
#early-access-section {
  width: 1360px;
  height: 384px;
  margin: 0 auto;
  padding: 40px 80px;
  background-color: #f7f6f2;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  text-align: center;
}
#early-access-section p {
  color: #627382;
}
footer {
  padding: 120px 120px 30px 120px;
  margin: 30px auto 0;
  display: flex;
  gap: 80px;
  flex-direction: column;
  background-color: #001931;
  color: white;
}
.footer-main {
  display: flex;
  justify-content: space-between;
}
.social-logo {
  display: flex;
  gap: 10px;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 80px;
}
.cpy-text {
  display: flex;
  flex-direction: column;
}
.cpy-text p {
  text-align: center;
}
.s-logo {
  background-color: white;
  color: black;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
hr {
  color: #14171c;
  margin-bottom: 20px;
}
.cpy-text p {
  font-size: 16px;
  font-weight: 400;
  color: #9ea5ab;
}
