* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.btn {
  width: 164px;
  height: 44px;
  padding: 12px 16px;
  border: none;
  background-color: #30b868;
  border-radius: 4px;
  color: white;
}
nav {
  height: 92px;
  width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 120px;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  width: 365px;
  height: 24;
  gap: 32px;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
